{% if site.navigation_header %}
    
{% if page.lang == 'en' %}
{% assign navigation_header = site.data.en_navigation_header.navigation_header %}
{% else %}
{% assign navigation_header = site.data.es_navigation_header.navigation_header %}
{% endif %}

<nav class="nav  nav--header">
  <ul class="list  list--nav">
    {% for item in navigation_header %}

      {% if item.url contains '://' %}
        {% assign url = item.url %}
      {% else %}
        {% assign url = item.url | relative_url %}
      {% endif %}

      <li class="item  item--nav{% if item.url == page.url %}  item--current{% endif %}">
        <a href="{{ url }}">{{ item.title }}</a>
      </li>
    {% endfor %}
  </ul>
  <button class="button  button--nav" aria-label="Menu toggle">
    {% include icon.html id="nav" title="Menu" %}
  </button>
</nav>
{% else %}
  {% include nav-default.html %}
{% endif %}

<script type="text/javascript">
  // Get list and button
  const navList = document.querySelector('.header .list--nav');
  const button = document.querySelector('.header .button--nav');
  // Get all nav options
  const navOptions = document.querySelectorAll('.header .list--nav li');

  // Function to toggle nav visibility
  const toggleNavVisibility = () => {
    navList.style.setProperty('transition', `margin .1s`);
    if (navList.style.getPropertyValue('--listHeight')) {
      navList.style.removeProperty('--listHeight');
    } else {
      navList.style.setProperty('--listHeight', `-${navList.offsetHeight}px`);
    }
  };

  // Hide nav and apply toggle
  const collapseNav = () => {
    if (document.body.clientWidth < 640) {
      navList.style.setProperty('--listHeight', `-${navList.offsetHeight}px`);
    } else {
      navList.removeAttribute('style');
    }

    button.onclick = toggleNavVisibility;
  };

  collapseNav();

  // Modify close nav when an option is clicked to only work in compressed mode
  navOptions.forEach(option => {
    option.addEventListener('click', () => {
      if (document.body.clientWidth < 640) { // Check if in compressed mode
        toggleNavVisibility();
      }
    });
  });

  // Check on resize if to collapse nav
  window.addEventListener('resize', () => {
    collapseNav();
  });
</script>